@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Cabinet Grotesk";
    font-size: 130px;
    font-style: normal;
    font-weight: 800;
}

h2 {
    font-family: "Cabinet Grotesk";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #3A3271;
}

h3 {
    font-family: "Cabinet Grotesk";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

h4 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: #DDE6FF;
}

header {
    width: 100%;
    background: #3F5DAA;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul li a {
    color: #FFF7EF;
    text-decoration: none;
}

.nav-list :hover {
    background-color: #FFF7EF;
    color: #3F5DAA;
    border-radius: 20px;
    padding: 6px 25px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    color: #FFF7EF;

}

.abrir-menu .cerrar-menu {
    display: none;
}

.contacto-info {
    display: flex;
    padding: 110px 0px 110px 0px;
    justify-content: center;
    gap: 40px;
}

.txt-contacto {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 30%;
    gap: 15px;
}



form {
    background: #FFF7EF;
    box-shadow: 14px 14px 12px 0px rgba(197, 187, 177, 0.44);
    padding: 60px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

input {
    margin-bottom: 5px;
    background-color: #E4D7FF;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

label {
    height: 20px;
}

textarea {
    width: 400px;
    height: 120px;
    border-radius: 5px;
    border: none;
    background-color: #E4D7FF;
}

.button-form {
    width: 100px;
    height: 40px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A3271;
    padding: 20px 60px;
    color: #FFF7EF;
}

@media screen and (max-width: 600px) {

    header {
        padding: 20px;
        width: 100%;
    }


    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #3F5DAA;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .contacto-info {
        display: flex;
        padding: 10px 0px 10px 0px;
        flex-direction: column;
        gap: 40px;
    }

    .txt-contacto {
        display: flex;
        padding: 40px 10px 40px 10px;
        gap: 15px;
        flex-direction: column;
        width: 100%;
    }

    form {
        background: #FFF7EF;
        padding: 30px 10px 30px 10px;
        display: flex;
        gap: 15px;
    }

    input {
        margin-bottom: 5px;
        background-color: #E4D7FF;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
    }

    label {
        height: 20px;
    }

    textarea {
        width: 100%;
        height: 120px;
        border-radius: 5px;
        border: none;
        background-color: #E4D7FF;
    }




    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
        background-color: #3A3271;
    }


}