@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Cabinet Grotesk";
    font-size: 130px;
    font-style: normal;
    font-weight: 800;
}

h2 {
    font-family: "Cabinet Grotesk";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #3A3271;
}

h3 {
    font-family: "Cabinet Grotesk";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
}

h4 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    background-color: #DDE6FF;
}

header {
    background: #3F5DAA;
    padding: 10px 170px 10px 170px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li a {
    color: #FFF7EF;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #FFF7EF;
    color: #3F5DAA;
    border-radius: 20px;
    padding: 6px 25px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    color: #FFF7EF;

}

.contacto-info {
    display: flex;
    padding: 110px 0px 110px 0px;
    justify-content: center;
    gap: 40px;
}

.txt-contacto {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 30%;
    gap: 15px;
}



form {
    width: 30%;
    height: 100%;
    background: #FFF7EF;
    box-shadow: 14px 14px 12px 0px rgba(197, 187, 177, 0.44);
    padding: 60px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

input {
    margin-bottom: 5px;
    background-color: #E4D7FF;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

label {
    height: 20px;
}

textarea {
    width: 400px;
    height: 120px;
    border-radius: 5px;
    border: none;
    background-color: #E4D7FF;
}

.button-form {
    width: 100px;
    height: 40px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A3271;
    padding: 20px 60px;
    color: #FFF7EF;
}

@media screen and (max-width: 600px) {


    .contacto-info {
        flex-direction: column;
        padding: 40px 20px;
        align-items: center;
        gap: 30px;
    }


    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
        background-color: aqua;
    }


}